<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/semantic.min.css" />
        <link rel="stylesheet" href="css/landing.css" />
        <title>Basic Node JS</title>
    </head>

    <body>
        <section class="sec1">
            <header class="ui container">
                <div class="content size1">
                    <h1>Halo</h1>
                    <h2>Inilah landing page anda!</h2>
                    <div class="ui bottons button">
                        <a href="#" class="ui large green button">ini adalah tombol hijau</a>
                        <div class="or"></div>
                        <a href="#" class="ui large red button">ini adalah tombol merah</a>
                    </div>
                    <p>Selamat ngoding dan semoga harimu menyenangkan!</p>
                </div>
            </header>
        </section>
    </body>
</html>

